* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: blueviolet;
    color: blue;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    display: flex;
}